<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="container border border-info rounded p-s5 my-5" style="max-width: 1000px;">

				<div class="form-row my-3">
						<form th:action="@{/blog/}">
							<input class="btn btn-sm btn-primary my-1" style="width: 150px;" type="submit"
							value="<= Go Back">
						</form>
					</div>
					<h3 class="text-center my-5" th:text="${blogModel.name}">Item Name</h3>
					

					<div class="form-row my-3">
						<div class="col">
							<h6>Blog Title:</h6>
							<h5 th:text="${blogModel.description}"></h5>
						</div>
					</div>

					<div class="form-row my-3">
						<div class="col">
							<h6>Introduction:</h6>
							<p th:text="${blogModel.sku}"></p>
						</div>
					</div>

					<div class="form-row my-3">
						<div class="col">
							<h5>Body:</h5>
							<p th:text="${blogModel.quantity}"></p>
						</div>
					</div>

					<div class="form-row my-3">
						<div class="col">
							<h6>Concluision: </h6>
							<p th:text="${blogModel.price}"></p>
						</div>
					</div>

			</div>
		</div>
	</div>
</body>

</html>