
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container body-content">
        <div class="container border border-info rounded p-s5 my-5" style="max-width: 400px;">
            <h3 class="text-center my-5">Register</h3>

            <!-- Insert th:action th:object for routing -->
            <form th:action="@{doRegister}" th:object="${userModel}" method="POST">

                <!-- Insert th:field for firstName -->
                <div class="form-row my-2">
                    <div class="col">
                        <input class="form-control" th:field="*{firstName}" type="text" placeholder="First Name"
                               required>
                    </div>
                </div>

                <!-- Insert th:if and th:error for firstName error catching if required -->
                <div class="form-row my-3">
                    <div class="col">
                        <h6 style="color: red; text-align:left" th:if="${#fields.hasErrors('firstName')}"
                            th:errors="*{firstName}" />
                    </div>
                </div>

                <!-- Insert th:field for lastName -->
                <div class="form-row my-3">
                    <div class="col">
                        <input class="form-control" th:field="*{lastName}" type="text" placeholder="Last Name"
                               required>
                    </div>
                </div>

                <!-- Insert th:if and th:error for lastName error catching if required -->
                <div class="form-row my-3">
                    <div class="col">
                        <h6 style="color: red; text-align:left" th:if="${#fields.hasErrors('lastName')}"
                            th:errors="*{lastName}" />
                    </div>
                </div>

                <!-- Insert th:field for email -->
                <div class="form-row my-3">
                    <div class="col">
                        <input class="form-control" th:field="*{email}" type="text" placeholder="Email Address"
                               required>
                    </div>
                </div>

                <!-- Insert th:if and th:error for email error catching if required -->
                <div class="form-row my-3">
                    <div class="col">
                        <h6 style="color: red; text-align:left" th:if="${#fields.hasErrors('email')}"
                            th:errors="*{email}" />
                    </div>
                </div>

                <!-- Insert th:field for phone -->
                <div class="form-row my-3">
                    <div class="col">
                        <input class="form-control" th:field="*{phoneNumber}" type="text" placeholder="Phone #"
                               required>
                    </div>
                </div>

                <!-- Insert th:if and th:error for phone error catching if required -->
                <div class="form-row my-3">
                    <div class="col">
                        <h6 style="color: red; text-align:left" th:if="${#fields.hasErrors('phoneNumber')}"
                            th:errors="*{phoneNumber}" />
                    </div>
                </div>

                <!-- Insert th:field for username -->
                <div class="form-row my-3">
                    <div class="col">
                        <input class="form-control" th:field="*{userName}" type="text" placeholder="Username"
                               required>
                    </div>
                </div>

                <!-- Insert th:if and th:error for username error catching if required -->
                <div class="form-row my-3">
                    <div class="col">
                        <h6 style="color: red; text-align:left" th:if="${#fields.hasErrors('userName')}"
                            th:errors="*{userName}" />
                    </div>
                </div>

                <!-- Insert th:field for password -->
                <div class="form-row my-3">
                    <div class="col">
                        <input class="form-control" th:field="*{password}" type="password" placeholder="Password"
                               required>
                    </div>
                </div>

                <!-- Insert th:if and th:error for password error catching if required -->
                <div class="form-row my-3">
                    <div class="col">
                        <h6 style="color: red; text-align:left" th:if="${#fields.hasErrors('password')}"
                            th:errors="*{password}" />
                    </div>
                </div>

                <input type="submit" value="Register" class="btn btn-info btn-block btn-lg my-4">
            </form>
        </div>
    </div>
</div>


</body>
</html>