<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<body>
	<div layout:fragment="content">
		<div class="container body-content">
			<div class="container border border-info rounded p-s5 my-5" style="max-width: 400px;">
				<h3 class="text-center my-5">Update Blog</h3>

				<!-- Insert th:action th:object for routing -->
				<form th:action="@{/blog/doUpdateBlog}" th:object="${blogModel}" method="POST">

					<!-- Insert th:action th:object for routing -->
					<form th:action="@{doAddBlog}" th:object="${blogModel}" method="POST">

						<!-- Insert th:field for Author Name -->
						<div class="form-row my-2">
							<div class="col">
								<input th:class="form-control" th:field="*{name}" type="text" placeholder="Item Name"
									   required>
							</div>
						</div>

						<div class="form-row my-3">
							<div class="col">
								<h6 style="color: red; text-align:left" th:if="${#fields.hasErrors('name')}"
									th:errors="*{name}" />
							</div>
						</div>

						<!-- Insert th:field for Title -->
						<div class="form-row my-3">
							<div class="col">
								<input class="form-control" th:field="*{description}" type="text" placeholder="Item Description"
									   required>
							</div>
						</div>


						<div class="form-row my-3">
							<div class="col">
								<h6 style="color: red; text-align:left" th:if="${#fields.hasErrors('description')}"
									th:errors="*{description}" />
							</div>
						</div>


						<div class="form-row my-3">
							<div class="col">
                        <textarea rows="10" cols="100" class="form-control" th:field="*{sku}" type="text"
								  placeholder="SKU" required></textarea>
							</div>
						</div>


						<div class="form-row my-3">
							<div class="col">
								<h6 style="color: red; text-align:left" th:if="${#fields.hasErrors('sku')}"
									th:errors="*{sku}" />
							</div>
						</div>

						<!-- Insert th:field for description -->
						<div class="form-row my-3">
							<div class="col">
							<textarea rows="10" cols="100" class="form-control" th:field="*{quantity}" type="text" placeholder="Quantity"
									  required /></textarea>
							</div>
						</div>


						<div class="form-row my-3">
							<div class="col">
								<h6 style="color: red; text-align:left" th:if="${#fields.hasErrors('quantity')}"
									th:errors="*{quantity}" />
							</div>
						</div>

						<!-- Insert th:field for conclusion -->
						<div class="form-row my-3">
							<div class="col">
							<textarea rows="10" cols="100" class="form-control" th:field="*{price}" th:type="text" placeholder="Item Price"
									  required /></textarea>
							</div>
						</div>

						<!-- Insert th:if and th:error for description error catching if required -->
						<div class="form-row my-3">
							<div class="col">
								<h6 style="color: red; text-align:left" th:if="${#fields.hasErrors('price')}"
									th:errors="*{price}" />
							</div>
						</div>
					<input type="hidden" th:field="*{id}">
					<input type="submit" value="Update" class="btn btn-info btn-block btn-lg my-4">
				</form>
			</div>
		</div>
	</div>
</body>

</html>
